@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

.spinner-container {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.spinner {
    border: solid 2px black;
    border-right: solid 2px red;
    border-radius: 50%;
    transform: rotate();
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.spinner-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

